$primary: #3cade6;
$dark: #3889C5FF;
$text-dark: #2e3b42;
$text-light: #ffffff;
$background: #f2f5fa;
$second-background: #e6e8ec;
$border: #dfdfe4;

$side-padding: 24px;
$header-height: 64px;
$footer-height: 124px;
